// .news-block
// thumb tag card content
$name: news;

.#{$name}-block {
  border-bottom: 1PX solid #eee;
  padding-top: 20px;

  .#{$name}-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f0f0f0;
    image,
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .#{$name}-title {
    font-size: 28px;
    margin-bottom: 12px;
    line-height: 1.5;
  }

  .#{$name}-info {
    font-size: 26px;
    color: #999;
    line-height: 1.5;
  }

}

$name: news2;

.#{$name}-block {
  border-bottom: 1PX solid #eee;
  padding-top: 20px;

  .#{$name}-img {
    width: 280px;
    height: 180px;
    image,
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .#{$name}-title {
    font-size: 32px;
    margin-bottom: 12px;
  }
  .at-col--wrap { position: relative; }
  .#{$name}-info {
    position: absolute;
    bottom: 18px;
    font-size: 28px;
    color: #999;
    line-height: 1.5;
  }

}


// .images-item

$name: images;
.#{$name}-block-wrap { margin: 0 -8px; }
.#{$name}-block {
  .#{$name}-item {
    padding: 8px;
  }

  .#{$name}-inner {
    border: 1PX solid #eee;
    padding: 3PX;
    border-radius: 8px;
  }

  .#{$name}-img {
    width: 100%;
    height: 300px;

    image,
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .#{$name}-title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .#{$name}-info {
    font-size: 26px;
    color: #999;
    line-height: 1.5;
  }

}

// .card-pic {}

// .card-news {}
