// .news-block
// thumb tag card content
@import "@styles/theme.scss";
$scale: 350/180;
$name: news;

.#{$name}-block {
  border-bottom: 1PX solid #eee;
  padding-top: 20px;

  .#{$name}-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f0f0f0;
    overflow: hidden;
    image,
    img {
      width: 100%;
      height: 100%;
    }
  }

  .#{$name}-title {
    font-size: 28px;
    margin-bottom: 12px;
    line-height: 1.5;
    @include lamp-clamp(2);
  }

  .#{$name}-info {
    font-size: 26px;
    color: #999;
    line-height: 1.5;
  }

}

$name: news2;

.#{$name}-block {
  border-bottom: 1PX solid #eee;
  padding-top: 20px;

  .#{$name}-img {
    width: 280px;
    height: 180px;
    background-color: #f0f0f0;

    image,
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .#{$name}-title {
    font-size: 32px;
    margin-bottom: 12px;
    @include lamp-clamp(2);

  }

  .at-col--wrap {
    position: relative;
  }

  .#{$name}-info {
    position: absolute;
    bottom: 18px;
    font-size: 28px;
    color: #999;
    line-height: 1.5;
  }

}


// .card-item

$name: card;

.#{$name}-block-wrap {
  margin: 0 -8px;
}

.#{$name}-block {
  .#{$name}-item {
    padding: 8px;
  }

  .#{$name}-inner {
    border: 1PX solid #eee;
    padding: 3PX;
    border-radius: 8px;
  }

  .#{$name}-img {
    width: 100%;
    height: 300px;
    background-color: #f0f0f0;

    image,
    img {
      max-width: 100%;
      min-height: 300px;
    }
  }

  .#{$name}-title {
    padding-top: 8px;
    font-size: 28px;
    margin-bottom: 12px;
    @include text-ellipsis;
  }

  .#{$name}-info {
    margin-bottom: 8px;
    font-size: 26px;
    color: #999;
    line-height: 1.5;
  }

}


$name: card2;

.#{$name}-item {
  margin-bottom: 20px;

  .#{$name}-inner {
    border-bottom: 1PX solid #eee;
  }

  .#{$name}-img {
    width: 100%;
    height: 300px;
    background-color: #f0f0f0;

    image,
    img {
      width: 100%;
      min-height: 300px;
    }
  }

  .#{$name}-title {
    font-size: 28px;
    margin: 12px 0;
  }

  .#{$name}-info {
    font-size: 26px;
    color: #999;
    line-height: 1.5;
  }

}
