.brankBox { padding-left: 20px; }
.brank {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  // flex-wrap: nowrap;
  text-align: center;
  .item-brank {
    min-width: 150px;
    font-size: 24px;
  }
  .item-thumb {
    height: 130px;
    width: 130px;
    display: inline-block;
    border-radius: 6px;
    background-color: #f0f0f0;
    overflow: hidden;
    image,
    img {
      width: 100%;
      height: 100%;
    }
  }
}
