#medaos-content {
  width: 100%;
  height: 100%;
  // background: #f0f2f5;
  // overflow: hidden;
  .ant-tabs,
  .ant-tabs-content {
    height: 100%;
  }
  // .ant-tabs-tabpane {
  //     iframe {
  //         height: 100%;
  //     }
  // }
  .ant-tabs-tabpane-active {
    height: 100%;
    padding-bottom: 38px;
  }
  .ant-tabs-bar {
    margin: 0;
    //     position: relative;
    //     bottom: 57px;
    //     width: 100%;
    // background: #fff;
    // border-bottom: 1px solid #ccc;
  }
  .minik-appframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
  }
  .loading {
    position: fixed;
    left: 50%;
    top: 50%;
  }
}

#nprogress .spinner {
  position: fixed;
  left: 50%;
  top: 50%;
}