@font-face {
  font-family: 'IconFont';
  src: url('./assets/fonts/iconfont.eot?v=4.7.0');
  src: url('./assets/fonts/iconfont.woff2?v=4.7.0') format('woff2'), url('./assets/fonts/iconfont.woff?v=4.7.0') format('woff'), url('./assets/fonts/iconfont.ttf?v=4.7.0') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* 根据第三方字体图标库编写 */
/* 举例：icon 就是 prefixClass 的值，下面的的图标 css class 命名都要用 icon- 开头  */
.icon {
  display: inline-block;
  font: normal normal normal 14px/1 IconFont;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-share:before {
  content: "\e611";
}
