.swiperBox {
  position: relative;
  .swiperPage {
    position: absolute;
    right: 30px;
    bottom: 24px;
    background-color: rgba(0,0,0,.4);
    color: #fff;
    font-size: 24px;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 30px;
    z-index: 1;
  }
}

.swiper {
  width: 100%;
  height: 420px;
  background-color: #f0f0f0;
  img,
  image {
    width: 100%;
    min-height: 420px;
  }
  // 图片比例： 350x180

  &Item {
    position: relative
  }

  // &Name {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   color: #fff;
  //   padding: 8px;
  //   font-size: 28px;
  //   background-color: rgba(0, 0, 0, .4)
  // }
}
