// .news-block

$name: news;

.#{$name}-block {
  border-bottom: 1PX solid #eee;
  padding: 20px 0;

  .#{$name}-item {}

  .#{$name}-inner {}

  .#{$name}-img {

    image,
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }

  .#{$name}-title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .#{$name}-info {
    font-size: 26px;
    color: #999;
    line-height: 1.5;
  }

}


// .images-item

$name: images;

.#{$name}-block {
  .#{$name}-item {
    padding: 8px;
  }

  .#{$name}-inner {
    border: 1PX solid #eee;
    padding: 4px;
    border-radius: 8px;
  }

  .#{$name}-img {
    width: 100%;
    height: 300px;

    image,
    img {
      width: 100%;
      height: 100%;
    }
  }

  .#{$name}-title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .#{$name}-info {
    font-size: 26px;
    color: #999;
    line-height: 1.5;
  }

}
