@import "@styles/theme.scss";
.goods-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  padding: 30px 20px;
  background-color: #fff;
  .item-goods {
    width: 50%;
    padding: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
  .item-thumb {
    height: 330px;
    width: 100%;
    border-radius: 6px;
    background-color: #f0f0f0;
    overflow: hidden;
    image,
    img {
      width: 100%;
      height: 100%;
    }
  }
  .item-content {
    background: #fff;
    padding: 20px 4px;
    height: 182px;
  }
  .item-title {
    font-size: 28px;
    line-height: 1.5;
    @include lamp-clamp(1);
  }
  .item-info {
    font-size: 24px;
    color: #999;
    line-height: 1.5;
    height: 70px;
    @include lamp-clamp(2);
    margin-bottom: 12px;
  }
  .item-tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }
  .price {
    color: $price-color;
    font-size: 32px;
  }
  .label {
    color: #DC5A58;
    border: 1PX solid;
    border-radius: 4px;
    font-size: 22px;
    line-height: 1;
    padding: 4px 6px;
    display: inline-block;
    margin-left: 8px;
    &-default {
      background-color: #fff;
      border-color: #DC5A58;
      color: #DC5A58;
    }
    &-primary {
      background-color: #DC5A58;
      border-color: #DC5A58;
      color: #fff;
    }
    &-vip {
      background-color: #DAAF70;
      border-color: #DAAF70;
      color: #fff;
    }
  }
}
