@import './reset.scss';
@import './mint-ui.scss';

$primary-color: #3478c3; //背景蓝
$wrap-width: 28*$px;
$px: 10rem/750;

[v-cloak] {
    display: none;
}

a,
a:link,
a:active,
a:hover,
a:focus,
a:visited,
a:-webkit-any-link {
    color: #333;
    text-decoration: none;
}

.mint-header {
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 2*$px rgba(0, 0, 0, .2);

    img {
        width: 42*$px;
        height: 42*$px;
    }

}

.wrap {
    margin: 0 $wrap-width;
}

.space {
    height: 80*$px;
}

.topBar {
    background: url(../images/logo.png) 100% 20*$px no-repeat;
    background-size: auto 72*$px;
    height: 120*$px;
}

.wrap-bg {
    background: $primary-color url(../images/logo-white.png) 100% 100*$px no-repeat;
    background-size: auto 72*$px;
    padding: 200*$px $wrap-width 30*$px;
    box-sizing: border-box;

    .tit {
        color: #fff;
        border: none;
    }

    .mint-cell {
        background: none;
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, .3);

        .mint-cell-value {
            color: #fff;
        }

        .mint-cell-wrapper {
            background: none;
        }
    }

    .mint-field {
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 10*$px;
        min-height: 2*$px;
        margin-bottom: 20*$px;

        .mint-cell-wrapper {
            background: none;
            padding: 0;
        }

        .mint-cell-title {
            background-color: #fff;
            color: #333;
            padding: 24*$px 0;
            box-sizing: border-box;
            text-align: center;
        }

        input {
            background: none;
            padding-left: 12*$px;
            box-sizing: border-box;
            color: #fff;
        }

        input::-webkit-input-placeholder {
            color: rgba(255, 255, 255, .3);
        }

        &.required .mint-cell-text:after {
            content: '*';
            color: red;
        }
    }


}

.user {
    text-align: center;
    padding-bottom: 40*$px;

    img {
        width: 200*$px;
        height: 200*$px;
        border-radius: 8*$px;
        margin-bottom: 24*$px;
    }
}

.myCard {
    text-align: center;
    padding-bottom: 32*$px;

    img {
        width: 620*$px;
        min-height: 380*$px;
        height: auto;
        border-radius: 12*$px;
        background-color: #f7f7f7;
    }
}

.tit {
    border-left: 6*$px solid#666;
    padding: 0 20*$px;
    line-height: 1;
    font-size: 36*$px;
    font-weight: 700;
    color: #333;
    margin: 60*$px 0 32*$px;
}

.myCoin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #999;
    padding: 12*$px 0;
    margin-bottom: 32*$px;
    color: #666;
    font-size: 28*$px;

    .coin {
        color: #000
    }
}

.grid {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0 -20*$px;
    margin-bottom: 60*$px;

    >a {
        width: 25%;
        text-align: center;
        padding: 4*$px 6*$px;
        box-sizing: border-box;
        text-align: center;

        margin-bottom: 12*$px;

        p {
            font-size: 24*$px;
            color: #666;
        }

        img {
            width: 80*$px;
            height: 80*$px;
        }
    }
}

.bindCard {
    .mint-cell-wrapper {
        background: none;
        padding: 0;

    }

    .mint-cell:last-child {
        background: none;
    }

    input {
        border: 1px solid #eee;
        padding: 12*$px;
        box-sizing: border-box;
        border-radius: 8*$px;
    }
    .description {
        font-size: 24*$px;
        color: #999;
    }
}

.checkListTitle {
    font-size: 32*$px;
    border-bottom: 1px solid #333;
    padding: 20*$px;
    margin-bottom: 8*$px;
}

.checkListGrid {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 60*$px;

    .mint-checklist-title,
    .mint-radiolist-title {
        display: none;
    }

    .mint-cell {
        width: 33.3%;
    }

    .mint-cell-wrapper {
        background: none;
        padding: 0;
        font-size: 28*$px;
    }

    .mint-cell:last-child {
        background: none;
    }
}

.gridRecharge {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0 -10*$px 60*$px;

    >div {
        width: 33.3%;
        text-align: center;

        span {
            color: $primary-color;
            background: #fff;
            padding: 30*$px 0;
            width: 90%;
            border-radius: 8*$px;
            font-size: 32*$px;
            display: inline-block;
            margin-bottom: 20*$px;
            border:1px solid $primary-color;
            &.active {
                color: #fff;
                background: darken($primary-color, 10%);
            }
        }
    }
}

.cardList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 24*$px;
    margin-bottom: 30*$px;

    .thumb {
        min-width: 30%;

        img {
            width: 160*$px;
            min-height: 80*$px;
            border-radius: 6*$px;
            box-shadow: 0 0 5*$px rgba(0, 0, 0, .2);
        }
    }

    .details {
        min-width: 70%;
        text-align: left;
        background: url(../images/right.svg) no-repeat 100% 50%;
        background-size: 80*$px 80*$px;

        .name {
            font-size: 32*$px;
        }

        >div {

            width: 72%;
            padding: 20*$px 0;
            margin-top: 20*$px;
            border-top: 1px solid #666;
        }
    }



}

.tab-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    span {
        height: 60*$px;
        line-height:60*$px;
        border:1px solid #999;
        display: inline-block;
        font-size: 28*$px;
        padding: 0 30*$px;
        min-width: 150*$px;
        text-align: center;
        margin-bottom: 20*$px;
        color: $primary-color;
        &.active {
            background: $primary-color;
            color: #fff;
        }
        &:first-child {
            border-top-left-radius: 8*$px;
            border-bottom-left-radius: 8*$px;

        }
        &:last-child {
            border-top-right-radius: 8*$px;
            border-bottom-right-radius: 8*$px;
        }
    }
}