<!DOCTYPE html>
<html lang="cn">

<head>
    <!-- @@include modules/_template_head.html -->
</head>

<body>
    <div id="app" v-cloak>

        <mt-header fixed title="绑卡">
            <a href="index.html" slot="left">
                <img src='./assets/images/menu.svg' />
            </a>
        </mt-header>

        <div class="wrap-bg">
            <div class="myCard">
                <img src='./assets/images/card.jpg' />
            </div>
        </div>
        <div class='wrap'>
                <br />
                <mt-field  placeholder="请输入用户名" v-model="value"></mt-field>
                <mt-field placeholder="请输入用户名" v-model="value"></mt-field>
                <br />
                <mt-button type="info" size='large'>绑定</mt-button>
                <br />
                <mt-button type="primary" size='large'>返回</mt-button>
        </div>

    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
value:''
            }
        },
        methods: {

        }
    })
</script>

</html>