<!DOCTYPE html>
<html lang="cn">

<head>
    <!-- @@include modules/_template_head.html -->
</head>

<body>
    <div id="app" v-cloak>

        <mt-header fixed title="绑卡">
            <a href="index.html" slot="left">
                <img src='./assets/images/menu.svg' />
            </a>
        </mt-header>

        <div class="wrap-bg">
            <div class="myCard">
                <img src='./assets/images/card.jpg' />
            </div>
        </div>
        <div class='wrap'>
            <br />
            <div class='bindCard'>
                <mt-field placeholder="请输入卡号"  type="number" v-model="card"></mt-field>
                <mt-field placeholder="请输入身份证后4位" v-model="number" :attr="{ maxlength: 4 }"></mt-field>
            </div>
            <br />
            <mt-button type="info" size='large'>绑定</mt-button>
            <br />
            <mt-button type="primary" size='large' @click='history.go(-1)'>返回</mt-button>
            <br />
            <br />
            <br />
        </div>

    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                card: '',
                number:''
            }
        },
        methods: {

        }
    })
</script>

</html>