<!DOCTYPE html>
<html lang="cn">

<head>
    <!-- @@include modules/_template_head.html -->
</head>

<body>
    <div id="app" v-cloak>
        <mt-header fixed title="完善资料">
            <a href="index.html" slot="left">
                <img src='./assets/images/menu.svg' />
            </a>
        </mt-header>
        <div class="space"></div>
        <div class='topBar'></div>
        <div class='wrap'>
            <div class='checkListTitle'>与卡主关系</div>
            <mt-radio class="checkListGrid" v-model="value1" :options="options1"></mt-radio>
            <div class='checkListTitle'>兴趣爱好（可多选）</div>
            <mt-checklist class="checkListGrid" v-model="value2" :options="options2"> </mt-checklist>
            <div class='checkListTitle'>职业</div>
            <mt-radio class="checkListGrid" v-model="value3" :options="options3"></mt-radio>
            <mt-button type="primary" size='large' @click='handleSubmit'>提交</mt-button>
            <br />
            <br />
            <br />
        </div>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                value1: '',
                value2: [],
                value3: '',
                options1: [
                    {
                        label: '父母',
                        value: 'a1',
                        disabled: false
                    },
                    {
                        label: '配偶',
                        value: 'a2'
                    },
                    {
                        label: '父母',
                        value: 'a3'
                    }, {
                        label: '朋友',
                        value: 'a4'
                    },
                    {
                        label: '其他',
                        value: 'a5'
                    }
                ],

                options2: [
                    {
                        label: '运动',
                        value: ' b1'
                    },
                    {
                        label: '阅读',
                        value: 'b2'
                    },
                    {
                        label: '音乐',
                        value: 'b3'
                    }, {
                        label: '烹饪',
                        value: 'b4'
                    },
                    {
                        label: '其他',
                        value: 'b5'
                    }
                ],

                options3: [
                    {
                        label: '销售',
                        value: 'c1'
                    },
                    {
                        label: 'IT人员',
                        value: 'c2'
                    },
                    {
                        label: '会计',
                        value: 'c3'
                    }, {
                        label: '律师',
                        value: 'c4'
                    },
                    {
                        label: '其他',
                        value: 'c5'
                    }
                ]
            }
        },
        methods: {
            handleSubmit() {
                console.log('handleSubmit:', this.value1, this.value2, this.value3)
            }
        }
    })
</script>

</html>