<!DOCTYPE html>
<html lang="cn">

<head>
    <!-- @@include modules/_template_head.html -->
</head>

<body>
    <div id="app" v-cloak>

        <mt-header fixed title="注册">
            <div to="/" slot="left">
                <mt-button icon="more"></mt-button>
            </div>
        </mt-header>
        <div class="space"></div>
        <div class='topBar'></div>

        <div class="wrap">

            <mt-field label="用户名" placeholder="请输入用户名" v-model="username"></mt-field>
            <mt-field label="生日" placeholder="请输入生日" type="date" v-model="birthday"></mt-field>
            <mt-field label="手机" placeholder="请输入手机号" type="tel" v-model="phone"></mt-field>
            <mt-field label="身份证" placeholder="请输入数字" type="number" v-model="identity"></mt-field>
            <mt-field label="保柏保险卡号" placeholder="请输入数字" type="number" v-model="card"></mt-field>
            <mt-field label="有效期" placeholder="请输入数字" type="number" v-model="validity"></mt-field>



            <br />
            <br />
            <mt-button type="primary" size='large' @click='handleSubmit'>立即注册</mt-button>
        </div>

    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                birthday: '',
                username: '',
                phone:'',
                identity:'',
                validity:'',
                card:''
            }
        },
        methods: {
            handleSubmit() {}
        }
    })
</script>

</html>